<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcc.paymentclean.mapper.PcacMerchantRiskSubmitInfoMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pcac_merchant_risk_submit_info_id,cus_type,cus_property,risk_type,cus_nature,cus_name,reg_name,cus_code,doc_type,doc_code,leg_rep_name,leg_doc_type,
        leg_doc_code,is_transfer,bank_no,open_bank,server_ip,mobile_no,address,icp,level,occurtimeb,occurtimee,occurchan,occurarea,note,valid_date,org_id,rep_date,
        rep_type,rep_person,registered_area,registered_code,source_channel,currency,amount,risk_find_time,leg_control_name,leg_control_card_type,leg_control_card_code,
        remarks,leg_ben_name,leg_ben_card_type,leg_ben_card_code,operator,operate_time,submit_time,submit_status,result_status,result_code,msg_detail,

    </sql>

    <select id="pagePcacMerchantRiskSubmitInfo" resultType="com.cmcc.paymentclean.entity.dto.response.RiskMerchantReqResp"
            parameterType="com.cmcc.paymentclean.entity.dto.resquest.RiskMerchantReq">
        SELECT
        t.*
        FROM
        pcac_merchant_risk_submit_info t
        WHERE
        1=1
        <if test="req.cusNumber !=null and req.cusNumber !=''">
            and t.cus_Number=#{req.cusNumber}
        </if>
        <if test="req.regName !=null and req.regName !=''">
            and t.reg_Name like concat('%',#{req.regName},'%')
        </if>
        <if test="req.docType !=null and req.docType !=''">
            and t.doc_Type=#{req.docType}
        </if>
        <if test="req.docCode !=null and req.docCode !=''">
            and t.doc_Code=#{req.docCode}
        </if>
        <if test="req.legDocType !=null and req.legDocType !=''">
            and t.leg_Doc_Type=#{req.legDocType}
        </if>
        <if test="req.legDocCode !=null and req.legDocCode !=''">
            and t.leg_Doc_Code=#{req.legDocCode}
        </if>
        <if test="req.operateStartTime!=null ">
            <![CDATA[  and DATE_FORMAT(t.operate_time, '%Y-%m-%d') >= DATE_FORMAT(#{req.operateStartTime}, '%Y-%m-%d')    ]]>
        </if>
        <if test="req.operateEndTime!=null ">
            <![CDATA[  and DATE_FORMAT(t.operate_time, '%Y-%m-%d') <= DATE_FORMAT(#{req.operateEndTime}, '%Y-%m-%d')    ]]>
        </if>
        <if test="req.submitStartTime!=null ">
            <![CDATA[  and DATE_FORMAT(t.submit_time, '%Y-%m-%d') >= DATE_FORMAT(#{req.submitStartTime}, '%Y-%m-%d')    ]]>
        </if>
        <if test="req.submitEndTime!=null ">
            <![CDATA[  and DATE_FORMAT(t.submit_time, '%Y-%m-%d') <= DATE_FORMAT(#{req.submitEndTime}, '%Y-%m-%d')    ]]>
        </if>
        <if test="req.submitStatus !=null and req.submitStatus !=''">
            and t.submit_Status=#{req.submitStatus}
        </if>
        <if test="req.operator !=null and req.operator !=''">
            and t.operator=#{req.operator}
        </if>
    </select>

</mapper>